.env
.venv
.aws-sam
.DS_Store
dist
node_modules
__pycache__

src/old

.env
samconfig.toml
invasions/tmp
invasions/src/old
invasions/.env
invasions/.env.json
invasions/config-local.toml
invasions/htmlcov
invasions/samconfig.toml
